.elementor-786 .elementor-element.elementor-element-f14cf9b>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-786 .elementor-element.elementor-element-f14cf9b:not(.elementor-motion-effects-element-type-background),
.elementor-786 .elementor-element.elementor-element-f14cf9b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #1F1F52;
}

.elementor-786 .elementor-element.elementor-element-f14cf9b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 176px 0px 0px 0px;
}

.elementor-786 .elementor-element.elementor-element-f14cf9b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-786 .elementor-element.elementor-element-f14cf9b>.elementor-shape-bottom .elementor-shape-fill {
    fill: rgba(255, 255, 255, 0.04);
}

.elementor-786 .elementor-element.elementor-element-f14cf9b>.elementor-shape-bottom svg {
    height: 600px;
}

.elementor-786 .elementor-element.elementor-element-ad5d0c8 {
    text-align: center;
}

.elementor-786 .elementor-element.elementor-element-ad5d0c8 .tm-modern-heading {
    width: 670px;
}

.elementor-786 .elementor-element.elementor-element-ad5d0c8 .elementor-widget-container {
    display: flex;
    justify-content: center;
}

.elementor-786 .elementor-element.elementor-element-ad5d0c8 .heading-primary {
    font-size: 48px;
    line-height: 1.17em;
    color: #FFFFFF;
}

.elementor-786 .elementor-element.elementor-element-ad5d0c8 .heading-primary .stop-a {
    stop-color: #FFFFFF;
}

.elementor-786 .elementor-element.elementor-element-ad5d0c8 .heading-primary .stop-b {
    stop-color: #FFFFFF;
}

.elementor-786 .elementor-element.elementor-element-ad5d0c8 .heading-description {
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
}

.elementor-786 .elementor-element.elementor-element-ad5d0c8 .heading-description .stop-a {
    stop-color: rgba(255, 255, 255, 0.7);
}

.elementor-786 .elementor-element.elementor-element-ad5d0c8 .heading-description .stop-b {
    stop-color: rgba(255, 255, 255, 0.7);
}

.elementor-786 .elementor-element.elementor-element-ad5d0c8 .heading-description-wrap {
    margin-top: 5px;
}

.elementor-786 .elementor-element.elementor-element-ad5d0c8>.elementor-widget-container {
    margin: 0px 0px 24px 0px;
}

.elementor-786 .elementor-element.elementor-element-234ab29 .tm-button {
    width: 210px;
}

.elementor-786 .elementor-element.elementor-element-234ab29 .tm-button:after {
    background-color: #FFFFFF;
}

.elementor-786 .elementor-element.elementor-element-234ab29 .tm-button:hover .button-content-wrapper {
    color: #20AD96;
}

.elementor-786 .elementor-element.elementor-element-234ab29 .tm-button:hover .button-content-wrapper .stop-a {
    stop-color: #20AD96;
}

.elementor-786 .elementor-element.elementor-element-234ab29 .tm-button:hover .button-content-wrapper .stop-b {
    stop-color: #20AD96;
}

.elementor-786 .elementor-element.elementor-element-234ab29>.elementor-widget-container {
    margin: 0px 0px 83px 0px;
}

.elementor-786 .elementor-element.elementor-element-82d0df6>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-786 .elementor-element.elementor-element-82d0df6 {
    margin-top: 0px;
    margin-bottom: -90px;
    z-index: 1;
}

.elementor-786 .elementor-element.elementor-element-8587ca3.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-786 .elementor-element.elementor-element-443ea4f {
    z-index: 0;
    width: auto;
    max-width: auto;
    bottom: -10px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-443ea4f {
    left: -168px;
}

body.rtl .elementor-786 .elementor-element.elementor-element-443ea4f {
    right: -168px;
}

.elementor-786 .elementor-element.elementor-element-49ba00f {
    z-index: 0;
    width: auto;
    max-width: auto;
    bottom: -60px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-49ba00f {
    right: -50px;
}

body.rtl .elementor-786 .elementor-element.elementor-element-49ba00f {
    left: -50px;
}

.elementor-786 .elementor-element.elementor-element-07365d3 .maxcoach-image {
    border-width: 20px;
    border-radius: 20px;
    border-color: #FFFFFF;
    box-shadow: 0px 2px 45px 0px rgba(0, 0, 0, 0.15);
}

.elementor-786 .elementor-element.elementor-element-07365d3 .video-button {
    justify-content: center;
    align-items: center;
}

.elementor-786 .elementor-element.elementor-element-07365d3 {
    width: auto;
    max-width: auto;
}

.elementor-786 .elementor-element.elementor-element-3ed1e2e>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-786 .elementor-element.elementor-element-c56b2a8:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-786 .elementor-element.elementor-element-c56b2a8>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../images/background-pattern-grid-line.png");
    background-repeat: repeat;
    background-size: auto;
}

.elementor-786 .elementor-element.elementor-element-c56b2a8>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-786 .elementor-element.elementor-element-c56b2a8>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-786 .elementor-element.elementor-element-aafcaf4 .shape {
    width: 70px;
    border-width: 10px;
    color: #F6B9AA;
}

.elementor-786 .elementor-element.elementor-element-aafcaf4 .maxcoach-shape-1-1 .shape {
    height: 70px;
}

.elementor-786 .elementor-element.elementor-element-aafcaf4 .maxcoach-shape {
    transform: translate(0px, 0px);
}

.elementor-786 .elementor-element.elementor-element-aafcaf4 .elementor-shape-fill {
    fill: #F6B9AA;
}

.elementor-786 .elementor-element.elementor-element-aafcaf4 {
    width: auto;
    max-width: auto;
    top: 636px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-aafcaf4 {
    right: -35px;
}

body.rtl .elementor-786 .elementor-element.elementor-element-aafcaf4 {
    left: -35px;
}

.elementor-786 .elementor-element.elementor-element-555668e .shape {
    width: 52px;
    border-width: 6px;
    color: #8FD6CA;
}

.elementor-786 .elementor-element.elementor-element-555668e .maxcoach-shape-1-1 .shape {
    height: 52px;
}

.elementor-786 .elementor-element.elementor-element-555668e .maxcoach-shape {
    transform: translate(0px, 0px);
}

.elementor-786 .elementor-element.elementor-element-555668e .elementor-shape-fill {
    fill: #8FD6CA;
}

.elementor-786 .elementor-element.elementor-element-555668e {
    width: auto;
    max-width: auto;
    top: 184px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-555668e {
    left: -120px;
}

body.rtl .elementor-786 .elementor-element.elementor-element-555668e {
    right: -120px;
}

.elementor-786 .elementor-element.elementor-element-dd57cf0 .shape {
    width: 46px;
    color: #BCE6DF;
}

.elementor-786 .elementor-element.elementor-element-dd57cf0 .maxcoach-shape-1-1 .shape {
    height: 46px;
}

.elementor-786 .elementor-element.elementor-element-dd57cf0 .maxcoach-shape {
    transform: translate(0px, 0px);
}

.elementor-786 .elementor-element.elementor-element-dd57cf0 .elementor-shape-fill {
    fill: #BCE6DF;
}

.elementor-786 .elementor-element.elementor-element-dd57cf0 {
    width: auto;
    max-width: auto;
    top: 74px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-dd57cf0 {
    right: -100px;
}

body.rtl .elementor-786 .elementor-element.elementor-element-dd57cf0 {
    left: -100px;
}

.elementor-786 .elementor-element.elementor-element-7ad6702 .shape {
    width: 54px;
    color: #EBB860;
}

.elementor-786 .elementor-element.elementor-element-7ad6702 .maxcoach-shape-1-1 .shape {
    height: 54px;
}

.elementor-786 .elementor-element.elementor-element-7ad6702 .maxcoach-shape {
    transform: translate(0px, 0px);
}

.elementor-786 .elementor-element.elementor-element-7ad6702 .elementor-shape-fill {
    fill: #EBB860;
}

.elementor-786 .elementor-element.elementor-element-7ad6702 {
    width: auto;
    max-width: auto;
    top: 600px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-7ad6702 {
    left: -150px;
}

body.rtl .elementor-786 .elementor-element.elementor-element-7ad6702 {
    right: -150px;
}

.elementor-786 .elementor-element.elementor-element-ea23029 .shape {
    width: 35px;
    color: #FF8265;
}

.elementor-786 .elementor-element.elementor-element-ea23029 .maxcoach-shape-1-1 .shape {
    height: 35px;
}

.elementor-786 .elementor-element.elementor-element-ea23029 .maxcoach-shape {
    transform: translate(0px, 0px);
}

.elementor-786 .elementor-element.elementor-element-ea23029 .elementor-shape-fill {
    fill: #FF8265;
}

.elementor-786 .elementor-element.elementor-element-ea23029 {
    width: auto;
    max-width: auto;
    top: 380px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-ea23029 {
    left: -20px;
}

body.rtl .elementor-786 .elementor-element.elementor-element-ea23029 {
    right: -20px;
}

.elementor-786 .elementor-element.elementor-element-a2cb419 .shape {
    width: 38px;
    color: #E88C98;
}

.elementor-786 .elementor-element.elementor-element-a2cb419 .maxcoach-shape-1-1 .shape {
    height: 38px;
}

.elementor-786 .elementor-element.elementor-element-a2cb419 .maxcoach-shape {
    transform: translate(0px, 0px);
}

.elementor-786 .elementor-element.elementor-element-a2cb419 .elementor-shape-fill {
    fill: #E88C98;
}

.elementor-786 .elementor-element.elementor-element-a2cb419 {
    width: auto;
    max-width: auto;
    top: 340px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-a2cb419 {
    right: -100px;
}

body.rtl .elementor-786 .elementor-element.elementor-element-a2cb419 {
    left: -100px;
}

.elementor-786 .elementor-element.elementor-element-2639734 .shape {
    width: 36px;
    color: #AAB8F1;
}

.elementor-786 .elementor-element.elementor-element-2639734 .maxcoach-shape-1-1 .shape {
    height: 36px;
}

.elementor-786 .elementor-element.elementor-element-2639734 .maxcoach-shape {
    transform: translate(0px, 0px);
}

.elementor-786 .elementor-element.elementor-element-2639734 .elementor-shape-fill {
    fill: #AAB8F1;
}

.elementor-786 .elementor-element.elementor-element-2639734 {
    width: auto;
    max-width: auto;
    top: 500px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-2639734 {
    right: 80px;
}

body.rtl .elementor-786 .elementor-element.elementor-element-2639734 {
    left: 80px;
}

.elementor-786 .elementor-element.elementor-element-c1032b6 .shape {
    width: 28px;
    color: #BC71FE;
}

.elementor-786 .elementor-element.elementor-element-c1032b6 .maxcoach-shape-1-1 .shape {
    height: 28px;
}

.elementor-786 .elementor-element.elementor-element-c1032b6 .maxcoach-shape {
    transform: translate(0px, 0px);
}

.elementor-786 .elementor-element.elementor-element-c1032b6 .elementor-shape-fill {
    fill: #BC71FE;
}

.elementor-786 .elementor-element.elementor-element-c1032b6 {
    width: auto;
    max-width: auto;
    top: 200px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-c1032b6 {
    left: 40%;
}

body.rtl .elementor-786 .elementor-element.elementor-element-c1032b6 {
    right: 40%;
}

.elementor-786 .elementor-element.elementor-element-5293f39>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-786 .elementor-element.elementor-element-5293f39 {
    margin-top: 318px;
    margin-bottom: 0px;
}

.elementor-786 .elementor-element.elementor-element-01416ba .content-wrap {
    width: 770px;
    text-align: center;
}

.elementor-786 .elementor-element.elementor-element-01416ba .text {
    color: #333333;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.42em;
}

.elementor-786 .elementor-element.elementor-element-01416ba .info {
    padding-top: 41px;
}

.elementor-786 .elementor-element.elementor-element-01416ba .swiper-nav-buttons {
    justify-content: space-between;
    align-items: center;
}

.elementor-786 .elementor-element.elementor-element-01416ba .swiper-pagination-wrap {
    justify-content: center;
    align-items: flex-end;
}

.elementor-786 .elementor-element.elementor-element-e71126b>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-786 .elementor-element.elementor-element-e71126b {
    margin-top: 150px;
    margin-bottom: 0px;
}

.elementor-786 .elementor-element.elementor-element-58c6fe2 .elementor-counter-title {
    color: #696969;
}

.elementor-786 .elementor-element.elementor-element-58c6fe2>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-786 .elementor-element.elementor-element-09ea099 .elementor-counter-title {
    color: #696969;
}

.elementor-786 .elementor-element.elementor-element-09ea099>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-786 .elementor-element.elementor-element-38b836c .elementor-counter-title {
    color: #696969;
}

.elementor-786 .elementor-element.elementor-element-38b836c>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-786 .elementor-element.elementor-element-20277bf .elementor-counter-title {
    color: #696969;
}

.elementor-786 .elementor-element.elementor-element-20277bf>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
}

.elementor-786 .elementor-element.elementor-element-db6fc03>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-786 .elementor-element.elementor-element-db6fc03 {
    margin-top: 120px;
    margin-bottom: 70px;
}

.elementor-786 .elementor-element.elementor-element-f3a5c12 .heading-primary {
    font-size: 20px;
    line-height: 1.5em;
    color: #3F3A64;
}

.elementor-786 .elementor-element.elementor-element-f3a5c12 .heading-primary .stop-a {
    stop-color: #3F3A64;
}

.elementor-786 .elementor-element.elementor-element-f3a5c12 .heading-primary .stop-b {
    stop-color: #3F3A64;
}

.elementor-786 .elementor-element.elementor-element-f3a5c12 .heading-description-wrap {
    margin-top: 5px;
}

.elementor-786 .elementor-element.elementor-element-f3a5c12>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
    padding: 35px 24px 202px 24px;
    background-color: #FFFFFF;
    background-image: url("../images/home-6-service-image-01.png");
    background-position: 5px 100%;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 40px 0px rgba(51, 51, 51, 0.1);
}

.elementor-786 .elementor-element.elementor-element-8f4f708 .heading-primary {
    font-size: 20px;
    line-height: 1.5em;
    color: #3F3A64;
}

.elementor-786 .elementor-element.elementor-element-8f4f708 .heading-primary .stop-a {
    stop-color: #3F3A64;
}

.elementor-786 .elementor-element.elementor-element-8f4f708 .heading-primary .stop-b {
    stop-color: #3F3A64;
}

.elementor-786 .elementor-element.elementor-element-8f4f708 .heading-description-wrap {
    margin-top: 5px;
}

.elementor-786 .elementor-element.elementor-element-8f4f708>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
    padding: 215px 24px 22px 24px;
    background-color: #FFFFFF;
    background-image: url("../images/home-6-service-image-03.png");
    background-position: 0px 15px;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 40px 0px rgba(51, 51, 51, 0.1);
}

.elementor-786 .elementor-element.elementor-element-3a0f825 .heading-primary {
    font-size: 20px;
    line-height: 1.5em;
    color: #3F3A64;
}

.elementor-786 .elementor-element.elementor-element-3a0f825 .heading-primary .stop-a {
    stop-color: #3F3A64;
}

.elementor-786 .elementor-element.elementor-element-3a0f825 .heading-primary .stop-b {
    stop-color: #3F3A64;
}

.elementor-786 .elementor-element.elementor-element-3a0f825 .heading-description-wrap {
    margin-top: 5px;
}

.elementor-786 .elementor-element.elementor-element-3a0f825>.elementor-widget-container {
    margin: 70px 0px 30px 0px;
    padding: 35px 24px 202px 24px;
    background-color: #FFFFFF;
    background-image: url("../images/home-6-service-image-02.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 40px 0px rgba(51, 51, 51, 0.1);
}

.elementor-786 .elementor-element.elementor-element-9a6c77e .heading-primary {
    font-size: 20px;
    line-height: 1.5em;
    color: #3F3A64;
}

.elementor-786 .elementor-element.elementor-element-9a6c77e .heading-primary .stop-a {
    stop-color: #3F3A64;
}

.elementor-786 .elementor-element.elementor-element-9a6c77e .heading-primary .stop-b {
    stop-color: #3F3A64;
}

.elementor-786 .elementor-element.elementor-element-9a6c77e .heading-description-wrap {
    margin-top: 5px;
}

.elementor-786 .elementor-element.elementor-element-9a6c77e>.elementor-widget-container {
    margin: 0px 0px 30px 0px;
    padding: 215px 24px 22px 24px;
    background-color: #FFFFFF;
    background-image: url("../images/home-6-service-image-04.png");
    background-position: 50% 33px;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 40px 0px rgba(51, 51, 51, 0.1);
}

.elementor-bc-flex-widget .elementor-786 .elementor-element.elementor-element-502ec00.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-786 .elementor-element.elementor-element-502ec00.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-786 .elementor-element.elementor-element-502ec00>.elementor-element-populated.elementor-element-populated {
    padding: 0px 15px 0px 85px;
}

.elementor-786 .elementor-element.elementor-element-e1fa1c8 .tm-modern-heading {
    width: 420px;
}

.elementor-786 .elementor-element.elementor-element-e1fa1c8 .heading-primary {
    font-size: 48px;
    line-height: 1.17em;
    color: #333333;
}

.elementor-786 .elementor-element.elementor-element-e1fa1c8 .heading-primary .stop-a {
    stop-color: #333333;
}

.elementor-786 .elementor-element.elementor-element-e1fa1c8 .heading-primary .stop-b {
    stop-color: #333333;
}

.elementor-786 .elementor-element.elementor-element-e1fa1c8 .heading-primary mark {
    font-weight: 400;
}

.elementor-786 .elementor-element.elementor-element-e1fa1c8 .heading-secondary {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 2px;
    color: #696969;
}

.elementor-786 .elementor-element.elementor-element-e1fa1c8 .heading-secondary .stop-a {
    stop-color: #696969;
}

.elementor-786 .elementor-element.elementor-element-e1fa1c8 .heading-secondary .stop-b {
    stop-color: #696969;
}

.elementor-786 .elementor-element.elementor-element-e1fa1c8 .heading-secondary-wrap {
    margin-bottom: 17px;
}

.elementor-786 .elementor-element.elementor-element-e1fa1c8>.elementor-widget-container {
    margin: 0px 0px 37px 0px;
}

.elementor-786 .elementor-element.elementor-element-3e95041 .list-header {
    align-items: center;
}

.elementor-786 .elementor-element.elementor-element-3e95041 .text {
    font-size: 15px;
    font-weight: 400;
}

.elementor-786 .elementor-element.elementor-element-3e95041 .icon {
    margin-right: 19px;
    font-size: 15px;
    color: #20AD96;
}

.elementor-786 .elementor-element.elementor-element-3e95041 .icon .stop-a {
    stop-color: #20AD96;
}

.elementor-786 .elementor-element.elementor-element-3e95041 .icon .stop-b {
    stop-color: #20AD96;
}

.elementor-786 .elementor-element.elementor-element-3d412a4 .tm-button {
    width: 210px;
}

.elementor-786 .elementor-element.elementor-element-3d412a4>.elementor-widget-container {
    margin: 35px 0px 0px 0px;
}

.elementor-786 .elementor-element.elementor-element-0f39c9c>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-786 .elementor-element.elementor-element-0f39c9c:not(.elementor-motion-effects-element-type-background),
.elementor-786 .elementor-element.elementor-element-0f39c9c>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F5F7FA;
}

.elementor-786 .elementor-element.elementor-element-0f39c9c {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 96px 0px 94px 0px;
}

.elementor-786 .elementor-element.elementor-element-0f39c9c>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-786 .elementor-element.elementor-element-7d65315 {
    text-align: center;
}

.elementor-786 .elementor-element.elementor-element-7d65315 .elementor-widget-container {
    display: flex;
    justify-content: center;
}

.elementor-786 .elementor-element.elementor-element-7d65315 .heading-primary {
    font-size: 48px;
    line-height: 1.17em;
    color: #333333;
}

.elementor-786 .elementor-element.elementor-element-7d65315 .heading-primary .stop-a {
    stop-color: #333333;
}

.elementor-786 .elementor-element.elementor-element-7d65315 .heading-primary .stop-b {
    stop-color: #333333;
}

.elementor-786 .elementor-element.elementor-element-7d65315 .heading-primary mark {
    font-weight: 400;
}

.elementor-786 .elementor-element.elementor-element-7d65315 .heading-secondary {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 2px;
    color: #696969;
}

.elementor-786 .elementor-element.elementor-element-7d65315 .heading-secondary .stop-a {
    stop-color: #696969;
}

.elementor-786 .elementor-element.elementor-element-7d65315 .heading-secondary .stop-b {
    stop-color: #696969;
}

.elementor-786 .elementor-element.elementor-element-7d65315 .heading-secondary-wrap {
    margin-bottom: 17px;
}

.elementor-786 .elementor-element.elementor-element-7d65315>.elementor-widget-container {
    margin: 0px 0px 57px 0px;
}

.elementor-786 .elementor-element.elementor-element-45576ba .course-info .course-title {
    color: #3F3A64;
}

.elementor-786 .elementor-element.elementor-element-45576ba .course-info .course-meta {
    color: #8C89A2;
}

.elementor-786 .elementor-element.elementor-element-fa462ad .tm-button {
    width: 260px;
}

.elementor-786 .elementor-element.elementor-element-fa462ad .tm-button.icon-left .button-icon {
    margin-right: 6px;
}

.elementor-786 .elementor-element.elementor-element-fa462ad .tm-button.icon-right .button-icon {
    margin-left: 6px;
}

.elementor-786 .elementor-element.elementor-element-fa462ad .tm-button .button-icon {
    font-size: 16px;
}

.elementor-786 .elementor-element.elementor-element-fa462ad>.elementor-widget-container {
    margin: 10px 0px 0px 0px;
}

.elementor-786 .elementor-element.elementor-element-6d09358>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-786 .elementor-element.elementor-element-6d09358 {
    padding: 89px 0px 50px 0px;
}

.elementor-786 .elementor-element.elementor-element-051c14a {
    text-align: center;
}

.elementor-786 .elementor-element.elementor-element-051c14a .elementor-widget-container {
    display: flex;
    justify-content: center;
}

.elementor-786 .elementor-element.elementor-element-051c14a .heading-primary {
    font-size: 48px;
    line-height: 1.17em;
    color: #333333;
}

.elementor-786 .elementor-element.elementor-element-051c14a .heading-primary .stop-a {
    stop-color: #333333;
}

.elementor-786 .elementor-element.elementor-element-051c14a .heading-primary .stop-b {
    stop-color: #333333;
}

.elementor-786 .elementor-element.elementor-element-051c14a .heading-primary mark {
    font-weight: 400;
}

.elementor-786 .elementor-element.elementor-element-051c14a>.elementor-widget-container {
    margin: 0px 0px 103px 0px;
}

.elementor-786 .elementor-element.elementor-element-649b942>.elementor-container {
    max-width: 1000px;
}

.elementor-786 .elementor-element.elementor-element-649b942>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-786 .elementor-element.elementor-element-126af5f .shape {
    width: 166px;
    transform: rotate(0deg) scale(1, 1);
    color: #D2A98E;
}

.elementor-786 .elementor-element.elementor-element-126af5f .maxcoach-shape-1-1 .shape {
    height: 166px;
}

.elementor-786 .elementor-element.elementor-element-126af5f .maxcoach-shape {
    transform: translate(0px, 0px);
}

.elementor-786 .elementor-element.elementor-element-126af5f .elementor-shape-fill {
    fill: #D2A98E;
}

.elementor-786 .elementor-element.elementor-element-126af5f {
    z-index: 0;
    width: auto;
    max-width: auto;
    top: 0px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-126af5f {
    left: -39px;
}

body.rtl .elementor-786 .elementor-element.elementor-element-126af5f {
    right: -39px;
}

.elementor-786 .elementor-element.elementor-element-48c67bd {
    width: 124px;
    max-width: 124px;
    bottom: 0px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-48c67bd {
    left: 110px;
}

body.rtl .elementor-786 .elementor-element.elementor-element-48c67bd {
    right: 110px;
}

.elementor-786 .elementor-element.elementor-element-ecee751 .text {
    color: #333333;
}

.elementor-786 .elementor-element.elementor-element-ecee751 .swiper-nav-buttons {
    justify-content: space-between;
    align-items: center;
}

.elementor-786 .elementor-element.elementor-element-ecee751 .swiper-pagination-wrap {
    justify-content: center;
    align-items: flex-end;
}

.elementor-786 .elementor-element.elementor-element-29b9ab6>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-786 .elementor-element.elementor-element-29b9ab6 {
    padding: 49px 0px 93px 0px;
}

.elementor-786 .elementor-element.elementor-element-52adccc .swiper-nav-buttons {
    justify-content: space-between;
    align-items: center;
}

.elementor-786 .elementor-element.elementor-element-52adccc .swiper-pagination-wrap {
    justify-content: center;
    align-items: flex-end;
}

.elementor-786 .elementor-element.elementor-element-52adccc .image:hover img {
    filter: brightness(100%) contrast(100%) saturate(1%) blur(0px) hue-rotate(0deg);
}

.elementor-786 .elementor-element.elementor-element-f33241a>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-786 .elementor-element.elementor-element-f33241a:not(.elementor-motion-effects-element-type-background),
.elementor-786 .elementor-element.elementor-element-f33241a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #F8F8F8;
}

.elementor-786 .elementor-element.elementor-element-f33241a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 103px 0px 54px 0px;
}

.elementor-786 .elementor-element.elementor-element-f33241a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-786 .elementor-element.elementor-element-4f8a8b0 {
    text-align: center;
}

.elementor-786 .elementor-element.elementor-element-4f8a8b0 .elementor-widget-container {
    display: flex;
    justify-content: center;
}

.elementor-786 .elementor-element.elementor-element-4f8a8b0 .heading-primary {
    font-size: 48px;
    line-height: 1.17em;
    color: #333333;
}

.elementor-786 .elementor-element.elementor-element-4f8a8b0 .heading-primary .stop-a {
    stop-color: #333333;
}

.elementor-786 .elementor-element.elementor-element-4f8a8b0 .heading-primary .stop-b {
    stop-color: #333333;
}

.elementor-786 .elementor-element.elementor-element-4f8a8b0 .heading-primary mark {
    font-weight: 400;
}

.elementor-786 .elementor-element.elementor-element-4f8a8b0 .heading-secondary {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 2px;
    color: #696969;
}

.elementor-786 .elementor-element.elementor-element-4f8a8b0 .heading-secondary .stop-a {
    stop-color: #696969;
}

.elementor-786 .elementor-element.elementor-element-4f8a8b0 .heading-secondary .stop-b {
    stop-color: #696969;
}

.elementor-786 .elementor-element.elementor-element-4f8a8b0 .heading-secondary-wrap {
    margin-bottom: 17px;
}

.elementor-786 .elementor-element.elementor-element-4f8a8b0>.elementor-widget-container {
    margin: 0px 0px 60px 0px;
}

.elementor-786 .elementor-element.elementor-element-325ad47>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-786 .elementor-element.elementor-element-325ad47:not(.elementor-motion-effects-element-type-background),
.elementor-786 .elementor-element.elementor-element-325ad47>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF 0%, rgba(234, 237, 241, 0.8) 100%);
}

.elementor-786 .elementor-element.elementor-element-325ad47 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 91px 0px 0px 0px;
}

.elementor-786 .elementor-element.elementor-element-325ad47>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-786 .elementor-element.elementor-element-d190643 {
    text-align: center;
}

.elementor-786 .elementor-element.elementor-element-d190643 .elementor-widget-container {
    display: flex;
    justify-content: center;
}

.elementor-786 .elementor-element.elementor-element-d190643 .heading-primary {
    font-size: 48px;
    line-height: 1.17em;
    color: #333333;
}

.elementor-786 .elementor-element.elementor-element-d190643 .heading-primary .stop-a {
    stop-color: #333333;
}

.elementor-786 .elementor-element.elementor-element-d190643 .heading-primary .stop-b {
    stop-color: #333333;
}

.elementor-786 .elementor-element.elementor-element-d190643 .heading-primary mark {
    font-weight: 400;
}

.elementor-786 .elementor-element.elementor-element-d190643 .heading-secondary {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 2px;
    color: #696969;
}

.elementor-786 .elementor-element.elementor-element-d190643 .heading-secondary .stop-a {
    stop-color: #696969;
}

.elementor-786 .elementor-element.elementor-element-d190643 .heading-secondary .stop-b {
    stop-color: #696969;
}

.elementor-786 .elementor-element.elementor-element-d190643 .heading-secondary-wrap {
    margin-bottom: 17px;
}

.elementor-786 .elementor-element.elementor-element-d190643>.elementor-widget-container {
    margin: 0px 0px 86px 0px;
}

.elementor-786 .elementor-element.elementor-element-433dc0d>.elementor-column-gap-custom>.elementor-row>.elementor-column>.elementor-element-populated {
    padding-left: calc(50px / 2);
    padding-right: calc(50px / 2);
}

.elementor-786 .elementor-element.elementor-element-433dc0d.elementor-section-gap-beside-no>.elementor-column-gap-custom>.elementor-row {
    margin-left: calc(-50px / 2);
    margin-right: calc(-50px / 2);
}

.elementor-786 .elementor-element.elementor-element-433dc0d>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-786 .elementor-element.elementor-element-433dc0d {
    margin-top: 0px;
    margin-bottom: 80px;
}

.elementor-786 .elementor-element.elementor-element-11d52d9 .icon-box-wrapper {
    text-align: left;
}

.elementor-786 .elementor-element.elementor-element-11d52d9 .elementor-widget-container {
    display: flex;
    justify-content: center;
}

.elementor-786 .elementor-element.elementor-element-11d52d9 .maxcoach-icon {
    align-items: center;
}

.elementor-786 .elementor-element.elementor-element-11d52d9>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-786 .elementor-element.elementor-element-86c3e88 .icon-box-wrapper {
    text-align: left;
}

.elementor-786 .elementor-element.elementor-element-86c3e88 .elementor-widget-container {
    display: flex;
    justify-content: center;
}

.elementor-786 .elementor-element.elementor-element-86c3e88 .maxcoach-icon {
    align-items: center;
}

.elementor-786 .elementor-element.elementor-element-86c3e88>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-786 .elementor-element.elementor-element-ce42df5 .icon-box-wrapper {
    text-align: left;
}

.elementor-786 .elementor-element.elementor-element-ce42df5 .elementor-widget-container {
    display: flex;
    justify-content: center;
}

.elementor-786 .elementor-element.elementor-element-ce42df5 .maxcoach-icon {
    align-items: center;
}

.elementor-786 .elementor-element.elementor-element-ce42df5>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-786 .elementor-element.elementor-element-550ad8c .icon-box-wrapper {
    text-align: left;
}

.elementor-786 .elementor-element.elementor-element-550ad8c .elementor-widget-container {
    display: flex;
    justify-content: center;
}

.elementor-786 .elementor-element.elementor-element-550ad8c .maxcoach-icon {
    align-items: center;
}

.elementor-786 .elementor-element.elementor-element-550ad8c>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-786 .elementor-element.elementor-element-7f5cf3c>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-786 .elementor-element.elementor-element-7f5cf3c {
    margin-top: 0px;
    margin-bottom: -31px;
}

.elementor-786 .elementor-element.elementor-element-ec11297 .shape {
    width: 52px;
    border-width: 6px;
    color: #BCE6DF;
}

.elementor-786 .elementor-element.elementor-element-ec11297 .maxcoach-shape-1-1 .shape {
    height: 52px;
}

.elementor-786 .elementor-element.elementor-element-ec11297 .maxcoach-shape {
    transform: translate(0px, 0px);
}

.elementor-786 .elementor-element.elementor-element-ec11297 .elementor-shape-fill {
    fill: #BCE6DF;
}

.elementor-786 .elementor-element.elementor-element-ec11297 {
    width: auto;
    max-width: auto;
}

.elementor-786 .elementor-element.elementor-element-0a8f3f6 .shape {
    width: 35px;
    color: #FA7D61;
}

.elementor-786 .elementor-element.elementor-element-0a8f3f6 .maxcoach-shape-1-1 .shape {
    height: 35px;
}

.elementor-786 .elementor-element.elementor-element-0a8f3f6 .maxcoach-shape {
    transform: translate(0px, 0px);
}

.elementor-786 .elementor-element.elementor-element-0a8f3f6 .elementor-shape-fill {
    fill: #FA7D61;
}

.elementor-786 .elementor-element.elementor-element-0a8f3f6 {
    width: auto;
    max-width: auto;
    bottom: 99px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-0a8f3f6 {
    left: -195px;
}

body.rtl .elementor-786 .elementor-element.elementor-element-0a8f3f6 {
    right: -195px;
}

.elementor-786 .elementor-element.elementor-element-f064336 .shape {
    width: 46px;
    color: #BCE6DF;
}

.elementor-786 .elementor-element.elementor-element-f064336 .maxcoach-shape-1-1 .shape {
    height: 46px;
}

.elementor-786 .elementor-element.elementor-element-f064336 .maxcoach-shape {
    transform: translate(0px, 0px);
}

.elementor-786 .elementor-element.elementor-element-f064336 .elementor-shape-fill {
    fill: #BCE6DF;
}

.elementor-786 .elementor-element.elementor-element-f064336 {
    z-index: 0;
    width: auto;
    max-width: auto;
    top: 62px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-f064336 {
    right: 0px;
}

body.rtl .elementor-786 .elementor-element.elementor-element-f064336 {
    left: 0px;
}

.elementor-786 .elementor-element.elementor-element-d8555d2 .shape {
    width: 38px;
    color: #E28794;
}

.elementor-786 .elementor-element.elementor-element-d8555d2 .maxcoach-shape-1-1 .shape {
    height: 38px;
}

.elementor-786 .elementor-element.elementor-element-d8555d2 .maxcoach-shape {
    transform: translate(0px, 0px);
}

.elementor-786 .elementor-element.elementor-element-d8555d2 .elementor-shape-fill {
    fill: #E28794;
}

.elementor-786 .elementor-element.elementor-element-d8555d2 {
    z-index: 0;
    width: auto;
    max-width: auto;
    bottom: 0px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-d8555d2 {
    right: 0px;
}

body.rtl .elementor-786 .elementor-element.elementor-element-d8555d2 {
    left: 0px;
}

.elementor-786 .elementor-element.elementor-element-7dc6b55 {
    text-align: center;
}

.elementor-786 .elementor-element.elementor-element-0248dc8>.elementor-container>.elementor-row {
    align-items: stretch;
}

.elementor-786 .elementor-element.elementor-element-0248dc8 {
    padding: 127px 0px 100px 0px;
}

.elementor-786 .elementor-element.elementor-element-31440bd .shape {
    width: 36px;
    color: #AAB8F1;
}

.elementor-786 .elementor-element.elementor-element-31440bd .maxcoach-shape-1-1 .shape {
    height: 36px;
}

.elementor-786 .elementor-element.elementor-element-31440bd .maxcoach-shape {
    transform: translate(0px, 0px);
}

.elementor-786 .elementor-element.elementor-element-31440bd .elementor-shape-fill {
    fill: #AAB8F1;
}

.elementor-786 .elementor-element.elementor-element-31440bd {
    width: auto;
    max-width: auto;
    top: 56px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-31440bd {
    right: -156px;
}

body.rtl .elementor-786 .elementor-element.elementor-element-31440bd {
    left: -156px;
}

.elementor-786 .elementor-element.elementor-element-8117e1e .shape {
    width: 54px;
    color: #EBB860;
}

.elementor-786 .elementor-element.elementor-element-8117e1e .maxcoach-shape-1-1 .shape {
    height: 54px;
}

.elementor-786 .elementor-element.elementor-element-8117e1e .maxcoach-shape {
    transform: translate(0px, 0px);
}

.elementor-786 .elementor-element.elementor-element-8117e1e .elementor-shape-fill {
    fill: #EBB860;
}

.elementor-786 .elementor-element.elementor-element-8117e1e {
    width: auto;
    max-width: auto;
    top: 25px;
}

body:not(.rtl) .elementor-786 .elementor-element.elementor-element-8117e1e {
    left: -184px;
}

body.rtl .elementor-786 .elementor-element.elementor-element-8117e1e {
    right: -184px;
}

.elementor-786 .elementor-element.elementor-element-c71105a {
    text-align: center;
}

.elementor-786 .elementor-element.elementor-element-c71105a .heading-primary {
    font-size: 24px;
    color: #333333;
}

.elementor-786 .elementor-element.elementor-element-c71105a .heading-primary .stop-a {
    stop-color: #333333;
}

.elementor-786 .elementor-element.elementor-element-c71105a .heading-primary .stop-b {
    stop-color: #333333;
}

.elementor-786 .elementor-element.elementor-element-c71105a .heading-primary mark {
    font-weight: 400;
}

.elementor-786 .elementor-element.elementor-element-f942e53 {
    text-align: center;
}

.elementor-786 .elementor-element.elementor-element-f942e53 .heading-primary {
    font-size: 34px;
    color: #333333;
}

.elementor-786 .elementor-element.elementor-element-f942e53 .heading-primary .stop-a {
    stop-color: #333333;
}

.elementor-786 .elementor-element.elementor-element-f942e53 .heading-primary .stop-b {
    stop-color: #333333;
}

.elementor-786 .elementor-element.elementor-element-f942e53>.elementor-widget-container {
    margin: 8px 0px 33px 0px;
}

.elementor-786 .elementor-element.elementor-element-24f2c43 .tm-button {
    width: 260px;
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-786 .elementor-element.elementor-element-aa4bda9 {
        width: 50%;
    }

    .elementor-786 .elementor-element.elementor-element-98b8bad {
        width: 50%;
    }

    .elementor-786 .elementor-element.elementor-element-57804b8 {
        width: 50%;
    }

    .elementor-786 .elementor-element.elementor-element-e2be531 {
        width: 50%;
    }

    .elementor-786 .elementor-element.elementor-element-7631f48 {
        width: 50%;
    }

    .elementor-786 .elementor-element.elementor-element-7c58623 {
        width: 50%;
    }

    .elementor-786 .elementor-element.elementor-element-502ec00 {
        width: 100%;
    }

    .elementor-786 .elementor-element.elementor-element-d1057ed {
        width: 50%;
    }

    .elementor-786 .elementor-element.elementor-element-69d4187 {
        width: 50%;
    }

    .elementor-786 .elementor-element.elementor-element-8aab592 {
        width: 50%;
    }

    .elementor-786 .elementor-element.elementor-element-1903250 {
        width: 50%;
    }
}

@media(max-width:1024px) {
    .elementor-786 .elementor-element.elementor-element-01416ba .text {
        font-size: 30px;
    }

    .elementor-786 .elementor-element.elementor-element-e1fa1c8 .heading-primary {
        font-size: 42px;
    }

    .elementor-786 .elementor-element.elementor-element-7d65315 .heading-primary {
        font-size: 42px;
    }

    .elementor-786 .elementor-element.elementor-element-051c14a .heading-primary {
        font-size: 42px;
    }

    .elementor-786 .elementor-element.elementor-element-4f8a8b0 .heading-primary {
        font-size: 42px;
    }

    .elementor-786 .elementor-element.elementor-element-d190643 .heading-primary {
        font-size: 42px;
    }

    .elementor-786 .elementor-element.elementor-element-d190643>.elementor-widget-container {
        margin: 0px 0px 40px 0px;
    }

    .elementor-786 .elementor-element.elementor-element-433dc0d>.elementor-column-gap-custom>.elementor-row>.elementor-column>.elementor-element-populated {
        padding-left: calc(30px / 2);
        padding-right: calc(30px / 2);
    }

    .elementor-786 .elementor-element.elementor-element-433dc0d.elementor-section-gap-beside-no>.elementor-column-gap-custom>.elementor-row {
        margin-left: calc(-30px / 2);
        margin-right: calc(-30px / 2);
    }

    .elementor-786 .elementor-element.elementor-element-433dc0d {
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .elementor-786 .elementor-element.elementor-element-c71105a .heading-primary {
        font-size: 21px;
    }

    .elementor-786 .elementor-element.elementor-element-f942e53 .heading-primary {
        font-size: 30px;
    }
}

@media(max-width:767px) {
    .elementor-786 .elementor-element.elementor-element-01416ba .text {
        font-size: 26px;
    }

    .elementor-786 .elementor-element.elementor-element-3a0f825>.elementor-widget-container {
        margin: 0px 0px 30px 0px;
    }

    .elementor-786 .elementor-element.elementor-element-e1fa1c8 .heading-primary {
        font-size: 36px;
    }

    .elementor-786 .elementor-element.elementor-element-7d65315 .heading-primary {
        font-size: 36px;
    }

    .elementor-786 .elementor-element.elementor-element-051c14a .heading-primary {
        font-size: 36px;
    }

    .elementor-786 .elementor-element.elementor-element-29b9ab6 {
        padding: 0px 0px 50px 0px;
    }

    .elementor-786 .elementor-element.elementor-element-4f8a8b0 .heading-primary {
        font-size: 36px;
    }

    .elementor-786 .elementor-element.elementor-element-d190643 .heading-primary {
        font-size: 36px;
    }

    .elementor-786 .elementor-element.elementor-element-c71105a .heading-primary {
        font-size: 18px;
    }

    .elementor-786 .elementor-element.elementor-element-f942e53 .heading-primary {
        font-size: 26px;
    }
}

/* Start custom CSS for tm-popup-video, class: .elementor-element-07365d3 */
.elementor-786 .elementor-element.elementor-element-07365d3 .maxcoach-image img {
    border-radius: 0;
}

/* End custom CSS */