/*!
Tags: editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
*/
.tm-demo-options-wrapper {
    position: fixed;
    top: 0;
    left: 100%;
    background: #fff;
    height: 100%;
    width: 350px;
    max-width: calc(100% - 45px);
    z-index: 100000;
    -webkit-transition: all .5s;
    transition: all .5s
}

.tm-demo-options-wrapper.open {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    box-shadow: -3px 0 50px -2px rgba(0, 0, 0, .14)
}

.demo-option-title {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.38px;
    line-height: 1.4
}

.tm-demo-options-toolbar {
    position: absolute;
    top: 200px;
    right: 100%;
    display: block;
    width: 40px;
    line-height: 60px;
    border: 1px solid #eee;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    background: #fff;
    text-align: center;
    box-shadow: -3px 0 10px -2px rgba(0, 0, 0, .1)
}

.tm-demo-options-toolbar a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #111
}

.tm-demo-options-toolbar a:focus,
.tm-demo-options-toolbar a:hover {
    color: #111 !important
}

.tm-demo-options-toolbar i {
    font-size: 16px
}

.tm-demo-panel-header {
    padding: 40px 30px;
    text-align: center
}

.tm-demo-panel {
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 55px
}

.quick-option-list {
    padding: 0 27px 27px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px
}

.quick-option-list img {
    width: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
    box-shadow: 0 7px 20px rgba(0, 0, 0, .1);
    border-radius: 5px
}

.quick-option-list img:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, .2)
}

.quick-option-list h6 {
    margin-top: 5px
}

.quick-option-list .hint--bounce:after {
    min-width: 120px;
    max-width: 160px;
    text-align: center;
    white-space: normal
}

.desktop .tm-demo-options-wrapper.open {
    -webkit-transform: translateX(-100%) translateX(15px);
    -ms-transform: translateX(-100%) translateX(15px);
    transform: translateX(-100%) translateX(15px)
}

.handheld .tm-demo-options-toolbar {
    top: 150px
}

.handheld .tm-demo-options-wrapper .tm-demo-panel {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

@media screen and (max-width:1200px) {
    #wp-admin-bar-new_draft {
        display: none
    }
}

#page-ruler-toolbar input[type=number] {
    height: 20px;
    color: #fff !important;
    background-color: transparent !important
}

#page-ruler-toolbar .page-ruler-px-container.page-ruler-px-container:after {
    right: 15px !important;
    color: #ccc !important
}

#page-ruler#page-ruler,
#page-ruler-guides#page-ruler-guides {
    z-index: 99999999 !important
}

.sale-special-intro-price {
    -webkit-transition: all .3s;
    transition: all .3s;
    position: fixed;
    bottom: 90px;
    right: 0;
    width: 180px;
    z-index: 9999
}

.sale-special-intro-price.hidden {
    opacity: 0;
    visibility: hidden
}

#close-sale-special-intro-price {
    width: 30px;
    height: 30px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 10px;
    color: #333;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 18px
}

.maxcoach-purchase-btn {
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 9999
}

.maxcoach-purchase-btn img {
    border-radius: 14px;
    box-shadow: 0 1px 42px rgba(0, 0, 0, .12)
}

.maxcoach-purchase-btn:before {
    content: "";
    position: absolute;
    top: 0;
    width: 32px;
    height: 32px;
    background: url(assets/images/btn-purchase-badge.jpg) no-repeat 50%;
    background-size: cover;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 18px;
    border-radius: 13px;
    box-shadow: 0 0 32px rgba(0, 0, 0, .16)
}

.maxcoach-purchase-btn:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px)
}

body.mobile .sale-special-intro-price {
    width: 100px
}

body.single-lp_course .maxcoach-purchase-btn {
    display: none
}

@media (min-width:1400px) {
    .sale-special-intro-price {
        width: 240px
    }
}

.header-07 .header-sticky-button.tm-button,
.header-07.header-light .header-button {
    color: #fff !important;
    border-color: transparent !important
}

.header-07 .header-sticky-button.tm-button:before,
.header-07.header-light .header-button:before {
    background-image: -webkit-linear-gradient(225deg, #fe5b34, #fe378c) !important;
    background-image: linear-gradient(-135deg, #fe5b34, #fe378c) !important
}

.header-07 .header-sticky-button.tm-button:after,
.header-07.header-light .header-button:after {
    background-image: -webkit-linear-gradient(225deg, #fe378c, #fe5b34) !important;
    background-image: linear-gradient(-135deg, #fe378c, #fe5b34) !important
}

.page-scroll-up {
    bottom: 90px !important;
    right: 24px !important
}

.crisp-client .cc-kv6t .cc-ew5j:before,
.crisp-client.crisp-client .cc-kv6t .cc-1ada,
.crisp-client.crisp-client .cc-kv6t .cc-ew5j:after {
    background: #20ad96 !important
}

@-webkit-keyframes btn-bounce {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    10% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    20% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    30% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes btn-bounce {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    10% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    20% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    30% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.popup-try-live-demo {
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
    display: block;
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 370px;
    max-width: 85%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(51, 51, 51, .1);
    text-align: center;
    z-index: 100002;
    padding: 25px 25px 30px
}

.popup-try-live-demo.hidden {
    opacity: 0;
    visibility: hidden
}

.popup-try-live-demo-close {
    position: absolute;
    top: -15px;
    right: -15px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    border-radius: 50%;
    color: #7e7e7e;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer
}

.popup-try-live-demo-close:hover {
    color: var(--maxcoach-color-primary)
}

.popup-try-live-demo-close>i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.popup-try-live-demo-heading {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 8px
}

.popup-try-live-demo-description {
    margin: 0 0 8px
}

.tm-button-bounce {
    -webkit-animation: btn-bounce 4s infinite;
    animation: btn-bounce 4s infinite
}

.popup-try-live-demo .tm-button {
    margin: 20px 0 0
}

.popup-try-live-demo .tm-button.login-as-student:hover {
    color: var(--maxcoach-color-primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.popup-try-live-demo .tm-button.login-as-student:after {
    background: #fff
}

.popup-try-live-demo .tm-button.login-as-instructor {
    color: #fff
}

.popup-try-live-demo .tm-button.login-as-instructor:hover {
    color: var(--maxcoach-color-primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.popup-try-live-demo .tm-button.login-as-instructor:before {
    background: var(--maxcoach-color-secondary)
}

.popup-try-live-demo .tm-button.login-as-instructor:after {
    background: #fff
}

@media screen and (min-width:768px) {
    .popup-try-live-demo {
        padding: 26px 30px 40px
    }

    .popup-try-live-demo-heading {
        font-size: 21px
    }
}

@media screen and (min-width:1200px) {
    .popup-try-live-demo {
        width: 370px;
        padding: 36px 50px 50px
    }

    .popup-try-live-demo-heading {
        font-size: 24px
    }
}

/*# sourceMappingURL=assets/scss/sourcemap/style.css.map */